.recipeBook{
  height: 500px;
  width: 500px;
  object-fit: cover;
  /* mask-image: linear-gradient(black, transparent); */
  position: fixed;
  bottom: 0px;
  left: 0px;   
}
.panToss{
  height: 500px;
  width: 500px;
  object-fit: cover;
  /* mask-image: linear-gradient(black, transparent); */
  position: fixed;
  bottom: 0px;
  right: 0px; 
  transform: scaleX(-1);
}
.welcome{
  position: relative; 
}
.searchContainer {
  position: fixed;
  top: 50%;
    left: 35%;
    height: 35px;
    padding: 0px;
    margin: 0px;
    width: auto; 
    z-index: 1px;   
  }
  .searchContainer input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px 5px;
    height: 100%;
    width: 300px;
    margin: 0px 2px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
    box-sizing: border-box;
    color: #6acc00;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  }
  .searchContainerLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 50px;
    margin: 0px 2px;
    padding: 0px;
    cursor: pointer;  
    background-color: white;
    color: #6acc00;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

.searchContainerLink:hover{
  background-color: #6acc00;
}
.searchContainerLink img{
  width: 10px;
  height: 10px;
}